<div class="admin">
<h2>Admin</h2>
List of attempts:
<table>
<tr v-for="attempt in attempts">
  <td>
    {{attempt.who | person}} is attempting to {{attempt.where}}
  </td>
  <td @click="acceptAssignment(attempt)" class="action">
    Accept
  </td>
  <td @click="rejectAssignment(attempt)" class="action">
    Reject
  </td>
</div>
</table>
<hr />

List of users:
<table>
  <tr>
    <td>Name</td>
    <td>E-mail</td>
    <td>UID</td>
    <td>Admin</td>
    <td>Authorized</td>
    <td></td>
  </tr>
  <tr v-for="user in users">
    {{user | json}}
    <td>{{user.displayName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.uid}}</td>
    <td>
      <span v-if=user.isAdmin>Yes <span class="action prepend-hyphen" @click="demote(user.uid)" >demote</span></span>
      <span v-else>No - <span class="action" @click="promote(user.uid)">promote</span></span>
    </td>
    <td><span v-if=user.authorized>Yes</span><span class="action" @click="authorize(user.uid)" v-else>Authorize</span></td>
    <td><span class="action" v-if="logged.uid != user.uid"  @click="remove(user.uid)">Remove</span></td>
  </tr>
</table>
</div>
