<div class="admin">
<h2>Admin</h2>
Awaiting requests:
<table>
<tr v-for="attempt in attempts">
  <td>
    <span class="important">{{attempt.who | person}}</span> is attempting to <span class="important">{{attempt.where}}</span>
  </td>
  <td @click="leagueAssignment(attempt,'assign')" class="action">
    Accept
  </td>
  <td @click="leagueAssignment(attempt,'reject')" class="action">
    Reject
  </td>
</tr>
<tr v-for="request in teamsRequests">
  <td>
    <span class="important">{{request.who | person}}</span> is requesting <span class="important">{{request.team}}</span> as choosen team
  </td>
  <td @click="teamRequest(request,'approve')" class="action">
    Approve
  </td>
  <td @click="teamRequest(request,'reject')" class="action">
    Reject
  </td>
</tr>
</table>
<span v-if="attempts.length == 0 && teamsRequests.length == 0" class="gray">Currently there is no active requests to approve</span>
<hr />

List of users:
<table class="full-width">
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>UID</th>
    <th>League</th>
    <th>Team</th>
    <th>Admin</th>
    <th>Authorized</th>
    <th></th>
  </tr>
  <tr v-for="user in users">
    {{user | json}}
    <td>{{user.displayName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.uid}}</td>
    <td>{{assigns.league[user.uid]}}</td>
    <td>{{assigns.team[user.uid]}}</td>
    <td>
      <span v-if=user.isAdmin>Yes <span class="action prepend-hyphen" @click="demote(user.uid)" >demote</span></span>
      <span v-else>No - <span class="action" @click="promote(user.uid)">promote</span></span>
    </td>
    <td><span v-if="authorizes.hasOwnProperty(user.uid) && authorizes[user.uid]">Yes</span><span class="action" @click="authorize(user.uid)" v-else>Authorize</span></td>
    <td><span class="action" v-if="logged.uid != user.uid"  @click="remove(user.uid)">Remove</span></td>
  </tr>
</table>
</div>
