<div id="post-results" v-show="isShowed" transition="modal">
<div class="inner">

<div class="header">
  <h4>Submit Result</h4>
</div>
  <div class="name name-home">
    <h2>{{home.name}}</h2>
  </div>
  <div class="name name-away">
    <h2>{{away.name}}</h2>
  </div>
<div class="goals goals-home">
  <span class="add-goals" @click="goals('home',1)"><i class="fa fa-angle-double-up"></i></span>
  <h3>{{home.goals}}</h3>
  <span class="sub-goals fade" v-show="home.goals > 0" transition="fade" @click="goals('home',-1)"><i class="fa fa-angle-double-down"></i></span>
</div>

<div class="goals goals-away">
  <span class="add-goals" @click="goals('away',1)"><i class="fa fa-angle-double-up"></i></span>
  <h3>{{away.goals}}</h3>
  <span class="sub-goals fade"  v-show="away.goals > 0" transition="fade" @click="goals('away',-1)"><i class="fa fa-angle-double-down"></i></span>
</div>

<div class="team team-home">
<div class="input" v-if="!isLocked(home)">
  <input type='text' debounce="250" v-model="home.team" class="form-control">
</div>
<div v-else>
  <h2>{{home.team}}</h2>
  <span v-for="star in $root.stars(home.team)"  track-by="$index">
  <i class="fa fa-{{star}}"></i>
  </span>
</div>
</div>

<div class="team team-away">
  <div class="input" v-if="!isLocked(away)">
    <input type='text' debounce="250" v-model="away.team" class="form-control">
  </div>
  <div v-else>
    <h2>{{away.team}}</h2>
    <span v-for="star in $root.stars(away.team)"  track-by="$index">
    <i class="fa fa-{{star}}"></i>
    </span>
  </div>
</div>

<div class="submit">
        <button @click="post" :disabled="errors.length > 0" class="btn btn-primary">Submit</button>
</div>

<div class="submit-result">
<h5>{{result}}</h5>
</div>

<div class="errors">
  <span v-for="error in errors">
      {{error.msg}}
  </span>
</div>
<span class="close" @click="hide()"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>
</div>
